.about {
    min-height: 1000px;
}

.contentWrapper{
    display: flex;
}

.expoWrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.exposition{
    max-width: 520px;
}

.imgWrapper {
    /* background-color: #ab61ff8a; */
    width: 300px ;
    height: 300px ;
    margin-left: 2rem;
    position: relative;
    /* border-radius: 5px;
    overflow: hidden; */
}

.imgWrapper > * {
    z-index: 9;
    border-radius: 5px;
}

.imgWrapper::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: #882cf18a;
    transition: all .2s ease;
    border-radius: 5px;
}

.imgWrapper:hover::before {
    opacity: 0;
}

.imgWrapper::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border: 2px solid #882cf1;
    top: 0;
    transform: translate(25px, 25px);
    transition: all .3s ease;
    z-index: -1;
    border-radius: 5px;
}

.imgWrapper:hover::after {
    transform: translate(5px, 5px);
}

.listWrapper {
    max-width: 260px;
    display: flex;
    justify-content: space-between;
}

.listWrapper ul {
    list-style-position: inside;
    list-style: none;
}

@media screen and (max-width: 920px){
    .contentWrapper {
        flex-direction: column;
        align-items: center;
    }

    .imgWrapper {
        margin: 3rem  auto;
    }

}

@media screen and (max-width: 430px){
    .imgWrapper::after {
        display: none;
    }
}