.project {
    /* background-color: rgb(97, 49, 209); */
    height: 300px;
    display: flex;
    align-items: center;
    display: flex;
    flex-direction: row-reverse;
    margin: 0 0 10rem 0;
    overflow: hidden;
}

.projectWrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    /* flex-direction: row-reverse; */
    /* justify-content: center; */
    width: 1200px;
    z-index: 10;
    pointer-events: none;
}

.right {
    align-items: flex-end;
    text-align: right;
}

.desc {
    background-color: #3d006e;
    box-shadow: 0 0 15px 15px #2700472a;
    padding: 1rem;
    border-radius: 3px;
    max-width: 600px;
}

.imageWrapper {
    position: relative;
}

.image {
    position: absolute;
    width: 500px;
    height: 300px;
    background-color: #ab61ff;
    z-index: 1;
    top: -150px;
    border-radius: 5px;
    overflow: hidden;
}

.image::after {
    content: "";
    width: 100%;
    height: 100%;
    background-color: #882cf18a;
    position: absolute;
    left: 0;
    z-index: 1000;
    transition: all .2s ease;
}

.image:hover::after {
    opacity: 0;
}

.rightImage {
    right: -900px;
}

.stack {
    display: flex;
}

.stack li {
    margin: 1rem .5rem 0 .5rem;
}

@media screen and (max-width: 920px){
    .projectWrapper {
        width: 500px;
        /* align-items: center; */
        /* text-align: center; */
        /* background-color: #fff; */
        margin: auto;
    }

    .image {
        width: 300px;
        /* left: 50px; */
        top: -120px;
        left: 50px;
    }

    .rightImage{
        /* right: unset; */
        left: 350px;
    }
}

@media screen and (max-width: 430px){
    .projectWrapper {
        width: 300px;
        align-items: center;
        text-align: center;
        /* background-color: #fff; */
        margin: auto;
    }

    .image {
        width: 300px;
        left: 50px;
        top: -120px;
    }

    .rightImage{
        right: unset;
        
    }

    .stack li {
        color: black;
    }

    
}